.flexb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 8%;
    /* ALINHAR ITENS NO SENTIDO HORIZONTALL*/
    /*justify-content:center ;
    justify-content: flex-end;*/
    /*justify-content: flex-start;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;*/
    background-color: rgb(202, 191, 130);
}

.menu-f{
    display: flex;
    gap: 43px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex-ban{
    display: flex;
    align-items: center;
    gap: 60px 8%;
    padding: 60px 8%;
    background-color: rgb(230, 169, 169);
}

.flex-ban-c, .flex-ban-imagem{
    flex: 1;

}
.flex-ban-imagem{
    margin: 0;
}
.flex-ban-imagem img{
    width: 100%;
    display: block;
}

.flex-s{
    display: flex;
    gap: 23px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.flex-cs > li{
    flex:1;
    min-height: 223px;
}
.flex-con{
    display: flex;
    gap: 43px;
    align-items: flex-start;
    padding: 60px 8%;
}
.flex-con-c, .flex-com form{
    flex: 1;
    justify-content: flex-end;
}

.flex-ca{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: blue;
    align-items: flex-start;
}